<!-- /sections/list-collections.liquid -->
{% case section.settings.grid %}
  {% when '1' %}
    {% assign grid_width_large = 'large--one-third push--large--one-third clear' %}
    {% assign grid_width_medium = 'medium--one-half push--medium--one-quarter clear' %}
    {% assign grid_width_small = 'small--one-whole' %}
  {% when '2' %}
    {% assign grid_width_large = 'large--one-half' %}
    {% assign grid_width_medium = 'medium--one-half' %}
    {% assign grid_width_small = 'small--one-half' %}
  {% when '3' %}
    {% assign grid_width_large = 'large--one-third' %}
    {% assign grid_width_medium = 'medium--one-third' %}
    {% assign grid_width_small = 'small--one-whole' %}
  {% when '4' %}
    {% assign grid_width_large = 'large--one-quarter' %}
    {% assign grid_width_medium = 'medium--one-half' %}
    {% assign grid_width_small = 'small--one-half' %}
  {% when '5' %}
    {% assign grid_width_large = 'large--one-fifth' %}
    {% assign grid_width_medium = 'medium--one-third' %}
    {% assign grid_width_small = 'small--one-half' %}
  {% when '6' %}
    {% assign grid_width_large = 'large--one-sixth' %}
    {% assign grid_width_medium = 'medium--one-third' %}
    {% assign grid_width_small = 'small--one-half' %}
  {% else %}
    {% assign grid_width_large = 'large--one-quarter' %}
    {% assign grid_width_medium = 'medium--one-half' %}
    {% assign grid_width_small = 'small--one-half' %}
{% endcase %}

{%- assign product_limit = section.settings.grid | times: section.settings.rows -%}

<div class="wrapper page-margin">
  {% for collection in collections %}
    {% unless collection.handle == 'frontpage' %}

      {% capture collection_title %}{{ collection.title | escape }}{% endcapture %}

      <div class="collection-list-item">
        <div class="section-header">
          <h3 class="h3 section-header__left title"><a href="{{ collection.url }}" title="{{ 'collections.general.link_title' | t: title: collection_title }}">{{ collection_title }} &rsaquo;</a></h3>
        </div>
        <div class="grid-uniform{% if settings.image_autoheight_enable %} image_autoheight_enable{% endif %}">
          {% for product in collection.products limit:product_limit %}
            {% include 'product-grid-item' %}
          {% endfor %}
        </div>
      </div>

    {% endunless %}
  {% endfor %}
</div>


{% schema %}
{
  "name": "Collection list",
  "settings": [
    {
      "type": "header",
      "content": "Product grid"
    },
    {
      "type": "select",
      "id": "grid",
      "label": "Products per row",
      "default": "4",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        },
        {
          "value": "3",
          "label": "3"
        },
        {
          "value": "4",
          "label": "4"
        },
        {
          "value": "5",
          "label": "5"
        },
        {
          "value": "6",
          "label": "6"
        }
      ]
    },
    {
      "type": "select",
      "id": "rows",
      "label": "Rows per collection",
      "default": "1",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        },
        {
          "value": "3",
          "label": "3"
        },
        {
          "value": "4",
          "label": "4"
        },
        {
          "value": "5",
          "label": "5"
        },
        {
          "value": "6",
          "label": "6"
        },
        {
          "value": "7",
          "label": "7"
        },
        {
          "value": "8",
          "label": "8"
        }
      ]
    }
  ]
}
{% endschema %}
