<div class="product-section" id="ProductSection-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="product" data-image-zoom-enable="{{ section.settings.zoom_enable }}">
  {% include 'product' %}
</div>

{% schema %}
{
  "name": "Product page",
  "settings": [
    {
      "type": "select",
      "id": "description_position",
      "options": [
        { "value": "auto", "label": "Auto"},
        { "value": "sidebar", "label": "Description beside image"},
        { "value": "below", "label": "Description below"}
      ],
      "label": "Description position",
      "info": "Auto will move descriptions longer than 1000 characters underneath the image."
    },
    {
      "type": "checkbox",
      "id": "product_breadcrumbs",
      "label": "Show breadcrumbs",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_quantity",
      "label": "Show quantity selection",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "product_nav_enable",
      "label": "Show next/previous buttons",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "product_show_vendor",
      "label": "Show vendor",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "zoom_enable",
      "label": "Enable image zoom"
    },
    {
      "type": "checkbox",
      "id": "related_products_enable",
      "label": "Show related products from collection",
      "default": true
    }
  ]
}
{% endschema %}
